.banner-user-elem {
  color: #fff;
  position: relative;
  overflow: hidden;
}

.banner-anim-elem::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  transition: all 0.4s;
}

.banner-user-elem .banner-user-title,
.banner-user-elem .banner-user-text {
  top: 30%;
  left: 10%;
  z-index: 10;
}

.banner-user-elem .banner-user-title {
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .banner-user-elem .banner-user-title {
    font-size: 2rem;
    font-family: var(--secondary-font-family);
    font-weight: bold;
  }
}

.banner-user-elem .banner-user-text {
  font-family: var(--secondary-font-family);
  font-size: 2rem;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .banner-user-elem .banner-user-text {
    font-size: 2.5rem;
    font-family: var(--secondary-font-family);
    font-weight: bold;
  }
}

@media screen and (min-width: 992px) {
  .banner-user-elem .banner-user-text {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .banner-user-elem .banner-user-text {
    font-size: 4.5rem;
    line-height: 1.1;
  }
}

.banner-anim-elem .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.custom-arrow-thumb {
  height: 80vh;
}

.custom-arrow-thumb .user-arrow {
  top: 50%;
  margin-top: -40px;
}

.custom-arrow-thumb .user-arrow .img-wrapper {
  width: 120px;
  height: 80px;
  float: left;
  position: relative;
}

.custom-arrow-thumb .user-arrow .img-wrapper li {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
}

.custom-arrow-thumb .user-arrow .arrow {
  width: 20px;
  height: 80px;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
}

.custom-arrow-thumb .user-arrow .arrow:before,
.custom-arrow-thumb .user-arrow .arrow:after {
  width: 2px;
  height: 15px;
  background: #fff;
  display: block;
  content: ' ';
  position: absolute;
}

.custom-arrow-thumb .user-arrow.next {
  right: -120px;
}

.custom-arrow-thumb .user-arrow.next .arrow {
  float: left;
}

.custom-arrow-thumb .user-arrow.next .arrow:before {
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  top: 28px;
  left: 10px;
}

.custom-arrow-thumb .user-arrow.next .arrow:after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  bottom: 27px;
  left: 10px;
}

.custom-arrow-thumb .user-arrow.prev {
  left: -120px;
}

.custom-arrow-thumb .user-arrow.prev .arrow {
  float: right;
}

.custom-arrow-thumb .user-arrow.prev .arrow:before {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 28px;
  left: 8px;
}

.custom-arrow-thumb .user-arrow.prev .arrow:after {
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  bottom: 27px;
  left: 8px;
}

.custom-arrow-thumb .user-thumb {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.15);
  height: 40px;
}

.custom-arrow-thumb .user-thumb > span {
  width: 50px;
  height: 30px;
  margin: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background: transparent;
}

.custom-arrow-thumb .user-thumb > span.active {
  background: rgba(255, 255, 255, 0.45);
}

.custom-arrow-thumb .user-thumb > span i {
  display: block;
  width: 46px;
  height: 26px;
  margin: 2px;
  background-size: cover;
  background-position: center;
}

.bg {
  animation: zoomeffect 100s infinite;
}

.banner-line-image {
  display: none;
}

@media screen and (min-width: 768px) {
  .banner-line-image {
    display: block;
    max-width: 30%;
  }
}

@media screen and (min-width: 900px) {
  .banner-line-image {
    max-width: 25%;
  }
}

@media screen and (min-width: 1024px) {
  .banner-line-image {
    max-width: 15%;
  }
}

@-webkit-keyframes zoomeffect {
  0% {
    background-position: center;
    transform: scale(1, 1);
  }
  50% {
    background-position: center;
    transform: scale(2, 2);
  }
  100% {
    background-position: center;
    transform: scale(1, 1);
  }
}
@keyframes zoomeffect {
  0% {
    background-position: center;
    transform: scale(1, 1);
  }
  50% {
    background-position: center;
    transform: scale(2, 2);
  }
  100% {
    background-position: center;
    transform: scale(1, 1);
  }
}
